@tailwind base;
@tailwind components;
@tailwind utilities;

.py-20 {
    padding-top: 5rem;
    padding-bottom: 14rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 10px;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

